BasedOnStyle: Google
Language: Cpp

BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PackConstructorInitializers: Never

AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterUnion: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
  AfterNamespace: false
  SplitEmptyFunction: false

IndentAccessModifiers: false

SpaceBeforeParens: Never

DerivePointerAlignment: false
PointerAlignment: Middle

ColumnLimit: 100
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
